# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IntelliJ related
*.iml
.idea/

# VS Code related
.vscode/

# Misc
*.log
**/DerivedData/

# Don't commit generated platform folders; CI will create them
android/
ios/
macos/
web/
windows/
linux/
